<nav>
  <a style='color: black;' routerLink="rxjs-demo">RxJS DEMO</a>
  <a style='color: black;' routerLink="manipulating-tasks">Manipulating Tasks DEMO</a>
  <a style='color: black;' routerLink="signals">Signals DEMO</a>
  <a style='color: black;' routerLink="manipulating-tasks-signals">Manipulating Tasks with Signals DEMO</a>
  <a style='color: black;' routerLink="counter-demo">Counter DEMO</a>
  <a style='color: black;' routerLink="tabs-demo">Tabs DEMO</a>
</nav>

<router-outlet></router-outlet>